.error-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__error-message, .MuiTypography-root {
    margin: 20px 0 0;
    font-size: 1.2rem;
  }
  img, svg {
    width: 140px;
    height: 140px;
  }

}