.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;

  .performanceMeasure {
    position: absolute;
    bottom: 86px;
    left: -67px;
    transform: rotate(270deg);
    .MuiButtonBase-root {

    }
    svg {
      margin: 0 5px 0 0;
    }
  }
}