.repo-grid {
  min-height: 0;
  flex: 1;
  &__wrap {
    padding: 0 4px 0 0;
    height: 100%;
    overflow: auto;
    @include styled-scrollbar();
  }
  &__content {
    overflow: auto;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 4px 6px;
  }
}