.search-results {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 25px 0 0;
  flex: 1 0;
  min-height: 0;
  &__search-bar-wrap {
    align-self: stretch;
    margin: 0 0 5px;
    display: flex;
  }
  &__pagination-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchbar {
    flex: 1;
    margin: 0 20px 0 0;
  }
  .MuiToggleButtonGroup-root {
    height: 32px;
    align-self: flex-end;
  }
}