@import "vars";
@import "mixins";
@import "homepage";
@import "repo-grid";
@import "repo-card";
@import "search-results";
@import "repo-page";
@import "error-display";

html, body, #root {
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}